/* 
    General Styles
*/
body {
    background: #cfd3d8;
  }
.col_1{
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    background: white;
}
.botonesEditarEliminar {
    margin-top: 3rem;
    justify-content: space-around;
}
.btn-light {
    color: #a39c9c;
    background-color: #f8f9fa;
    border-color: #f95738;
    margin-left: 1rem;
    border-radius: 1rem;
}
.botones {
    justify-content: center;
    margin: 1rem;
   border-bottom-left-radius: 3rem;
    background: #FFF2C4;
    padding: 1rem;
}

.row-agenda {
    margin-bottom: 30px;
    border: 1px solid #f95738;
    margin-top: 20px;
    border-radius: 2rem;
    display: flex;
    background: #f2f2f2;
    padding: 10px 10px;
    width: 83%;
    margin-left: 2.5rem;
}
i.fa-solid.fa-trash {
    margin-top: 12px;
    color: #f95738c4;
    margin-left: 0px;
    font-size: 30px;
}
.fa-book:before {
    content: "\f02d";
    margin-top: 12px;
    color: #f95738c4;
    margin-left: 0px;
    font-size: 30px;
}
i.fa-solid.fa-user {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 12px;
    background: #f95738c4;
    border-radius: 100%;
    color: #ffffff;
    margin-left: 5px;
}
i.fa-solid.fa-pen {
    margin-top: 12px;
    color: #f95738c4;
    margin-left: 0px;
    font-size: 30px;
}
.mujer{
    width: 96%;
}

.datos {
    flex: 0 0 auto;
    width: 64%;
    background: white;
    border-radius: 1rem;
   
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
    color: gray;
    
}
.lista {
    background-image: url("https://i.ibb.co/KrVsmhx/background.jpg");
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    padding: 1rem;
}

h1 {
    font-size: 3.5rem;
    /* margin-top: 2rem; */
    padding: 1rem;
    background: #FFF2C4;
    color: #c2bcbc;
    font-family: fantasy;
    margin: 1rem;
    border-top-left-radius: 3rem;
    text-align: center;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    width: 80%;
    justify-content: center;
    
}
.formulario {
    
        border: 1px solid #f95738;
        background: #ffffff91;
        width: 89%;
        padding: 3rem;
        border-radius: 3rem;
        margin-top: 2rem;
        margin-left: 1.5rem;
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: 30px;
    color: #f95738;
}
.fa-floppy-disk:before, .fa-save:before {
    content: "\f0c7";
    font-size: 30px;
    color: #f95738;
    width: 50rem;
}
.btn-Home {
    width: 10rem;
    height: 4rem;
    align-items: center;
   
    margin-top: 0.5rem;
    color: #a39c9c;
    background-color: #f8f9fa;
    border-color: #f95738;
   
    border-radius: 1rem;
 }
.btnSave {
    width: 10rem;
    height: 4rem;
    align-items: center;
    margin-left: 6rem;
    margin-top: 1.5rem;
    color: #a39c9c;
    background-color: #f8f9fa;
    border-color: #f95738;
   
    border-radius: 1rem;
 }
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f95738;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label {
    display: inline-block;
    font-size: 2rem;
    font-family: fantasy;
    color: #adb5bd;
}